*{
    font-family: "Thasadith", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

main{
    margin-top: 5vh;
}

#ricette{
    margin-left: 3vh;
}

footer{
    margin-top: 3vh;
    border-top: 1px solid black;
    padding-top: 5vh;
    padding right: 0%;
    margin
}

.row{
    justify-content: space-evenly;
}